force-app/main/default/flows/TasktivityFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Account_Assign</name>
        <label>Account Assign</label>
        <locationX>1103</locationX>
        <locationY>92</locationY>
        <assignmentItems>
            <assignToReference>Account_Get.Account_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Call_Assign</name>
        <label>Call Assign</label>
        <locationX>948</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>Account_Get.Next_Suggested_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Talked To Representative</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Talked_To_Representative_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Stage_Assign</name>
        <label>Opportunity Stage Assign</label>
        <locationX>1365</locationX>
        <locationY>86</locationY>
        <assignmentItems>
            <assignToReference>Opportunities_Get.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Success_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NextSuggestedActivity_choice</name>
        <choiceText>{!Account_Get.Next_Suggested_Activity__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Account_Get.Next_Suggested_Activity__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Call_Task_Outcome</name>
        <label>Call Task Outcome</label>
        <locationX>594</locationX>
        <locationY>465</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Left_VM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskOutcome_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Left VM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Left_VM_Screen</targetReference>
            </connector>
            <label>Left VM</label>
        </rules>
        <rules>
            <name>Callback_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskOutcome_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Callback Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Callback_Requested_Screen</targetReference>
            </connector>
            <label>Callback Requested</label>
        </rules>
        <rules>
            <name>Bad_Phone_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskOutcome_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bad Phone Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bad_Phone_Number_Screen</targetReference>
            </connector>
            <label>Bad Phone Number</label>
        </rules>
        <rules>
            <name>Talked_To_Representative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskOutcome_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Talked To Representative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Activity_Decision</targetReference>
            </connector>
            <label>Talked To Representative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Activity_Decision</name>
        <label>Next Activity Decision</label>
        <locationX>806</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quick_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HeatCallOutputformula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Assign</targetReference>
            </connector>
            <label>Quick Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Type_Decision</name>
        <label>Task Type Decision</label>
        <locationX>426</locationX>
        <locationY>203</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskType_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskOutcome_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outcome_Screen</targetReference>
            </connector>
            <label>Call Successful</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskType_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <label>Email</label>
        </rules>
        <rules>
            <name>Call_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskType_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskOutcome_var</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Screen</targetReference>
            </connector>
            <label>Call</label>
        </rules>
    </decisions>
    <description>Added Call Type Screen</description>
    <dynamicChoiceSets>
        <name>NextAction_pickchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Next_Suggested_Activity__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>HeatCallOutputformula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varCallHeat}&gt;5, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>TasktivityFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TasktivityFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Get</name>
        <label>Account Get</label>
        <locationX>170</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunities_Get</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Task_Type__c</queriedFields>
        <queriedFields>Task_Outcome__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunities_Get</name>
        <label>Opportunities Get</label>
        <locationX>305</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Screen</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Get.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>1241</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Opportunity_Stage_Assign</targetReference>
        </connector>
        <inputReference>Account_Get</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunity_Success_Update</name>
        <label>Opportunity Success Update</label>
        <locationX>1481</locationX>
        <locationY>74</locationY>
        <inputReference>Opportunities_Get</inputReference>
    </recordUpdates>
    <screens>
        <name>Bad_Phone_Number_Screen</name>
        <label>Bad Phone Number Screen</label>
        <locationX>1004</locationX>
        <locationY>705</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Call_Screen</name>
        <label>Call Screen</label>
        <locationX>602</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Task_Outcome</targetReference>
        </connector>
        <fields>
            <name>AccountPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirm Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Account_Get.Phone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CallHeat</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Call Heat</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCallHeat</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Callback_Requested_Screen</name>
        <label>Callback Requested Screen</label>
        <locationX>1028</locationX>
        <locationY>539</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Left_VM_Screen</name>
        <label>Left VM Screen</label>
        <locationX>1046</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Call_Good</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>HeatCallOutputformula</elementReference>
            </defaultValue>
            <fieldText>Call Good</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outcome_Screen</name>
        <label>Outcome Screen</label>
        <locationX>984</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Assign</targetReference>
        </connector>
        <fields>
            <name>CallSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Call Success&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Talked_To_Representative_Screen</name>
        <label>Talked To Representative</label>
        <locationX>1053</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Next_Suggested_Activity</name>
            <choiceReferences>NextSuggestedActivity_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NextSuggestedActivity_choice</defaultSelectedChoiceReference>
            <fieldText>Next Suggested Activity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Screen</name>
        <label>Task Screen</label>
        <locationX>293</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Task_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>TasktivityPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>wmc__Tasktivity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Task Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>wmc__Task_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>wmc__Task_Outcome__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Task Outcome</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TaskType_var</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TaskOutcome_var</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Get</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskOutcome_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskType_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCallHeat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
